manifest {
  name = 'MDHowe4/TnPrep'
  description = 'Transposon preprocessing pipeline for Mtb and other prokaryotes' 
  homePage = 'https://github.com/MDHowe4/TnPrep'
  author = 'Michael Howe'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.10.6'
} 

process {
  container = 'argonaut1/tnprep:v0.1.0'
}

profiles {

    docker {
      docker.enabled         = true
      docker.userEmulation   = true
      singularity.enabled    = false
  }
    singularity {
      singularity.enabled    = true
      singularity.autoMounts = true
      docker.enabled         = false  
  }
}

// This will cleanup the work directory upon finishing a run. Set this to false if troubleshooting pipeline is required.
// It will also prevent the use of the resume feature on subsequent executions of a single pipeline run.
cleanup = true


params {
    // Pipeline Options
    help = false
    input = false
    genome = false
    output = "${baseDir}/outdir"

}


