manifest {
  name = 'MDHowe4/TnPrep'
  description = 'Transposon preprocessing pipeline for Mtb and other prokaryotes' 
  homePage = 'https://github.com/MDHowe4/TnPrep'
  author = 'Michael Howe'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.10.6'
} 

process {
  container = ''
}

profiles {

    docker {
      docker.enabled         = true
      docker.userEmulation   = true
      
  }
}

params {
    // Pipeline Options
    help = false
    input = false
    genome = false
    output = "${baseDir}/outdir"

}


